@charset "UTF-8";



	body {
    font-family: "Noto Sans KR", sans-serif; /* 한글 웹폰트 */
    background-color: #f0f1f2; /* 연한 회색 배경 */
    margin:0;
    padding: 40px;
	}	
	h1,h2{
	margin:auto;
	text-align:center;
	}
	#logoutdiv{
	width:400px;
	background-color:#f7f8f9;
	border-spacing:0;
	border:none;
	border-radius:30px;
	padding:20px;
	margin:auto;
	margin-top:150px;
	display: flex; /* flex로 전환 */
  	flex-direction: column; /* 수직 정렬 */
  	align-items: center;    /* 수평 가운데 정렬 */
  	justify-content: center; /* 수직 가운데 정렬 (내용이 작을 때는 큰 차이 없음) */
	}
	.center-button {
   	display: flex;
    justify-content: center;
    align-items: center;
   	margin-top: 30px;
	}
	.center-button button {
   	padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	}
	.main-btn{
	background-color: #0056b3;
	}
	.logout-btn {
    background-color: #dc3545;
	}
	.main-btn:hover {
   	background-color: #003d80;
	}
	.logout-btn:hover{
	background-color: #b92d3b;
	}