@charset "UTF-8";

	body {
    font-family: "Noto Sans KR", sans-serif; /* 한글 웹폰트 */
    background-color: #f0f1f2; /* 연한 회색 배경 */
    margin:0;
    padding: 40px;
	}	
	h1,h2,h3{
	margin:auto;
	text-align:center;
	}
	#logindiv{
	width:400px;
	background-color:#f7f8f9;
	border-spacing:0;
	border: 1px solid #ddd;
	border-radius:30px;
	padding:20px;
	margin:auto;
	margin-top:150px;
	display: flex; /* flex로 전환 */
  	flex-direction: column; /* 수직 정렬 */
  	align-items: center;    /* 수평 가운데 정렬 */
  	justify-content: center; /* 수직 가운데 정렬 (내용이 작을 때는 큰 차이 없음) */
	}
	.inputbox{
	width:280px;
	height:40px;
	margin-top:10px;
	padding-left:10px;
	box-sizing:border-box;
	border-radius: 5px;
	border:none;
	border-bottom:2px solid black;
	outline: none;
	padding-right: 40px; /* 오른쪽 여백 확보 (아이콘 공간) */
	}
	.inputbox:focus{
	border-bottom:2px solid #81adff;
	outline: 2px solid #81adff;
	}
	.innerdiv{
	position:relative;
	vertical-align: top;
	text-align: center;      /* 내부 요소 가운데 정렬 */
    margin: 0px 0px 10px 0px;
	}
	.submitbox{
	width:280px;
	height:40px;
	box-sizing:border-box;
	background-color:#1f92df;
	border-radius: 5px;
	border:none;
	color:white;
	font-weight:bold;
	}
	.submitbox2{
	width:280px;
	height:40px;
	box-sizing:border-box;
	background-color:#f7f8f9;
	border-radius: 5px;
	border: 1px solid #ddd;
	color:black;
	font-weight:bold;
	}
	.center-button {
   	display: flex;
    justify-content: center;
    align-items: center;
   	margin-top: 30px;
	}
	.center-button button {
   	padding: 10px 20px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	}
	.center-button button:hover {
   	background-color: #003d80;
	}
	.eye {
    cursor: pointer;
    /* 눈 아이콘 스타일 */
  	}
  	.input-wrapper {
  	position: relative;
  	width: 100%;
	}
	.eye {
  	position: absolute;
  	right: 12px;
  	top: 58%;
  	transform: translateY(-50%);
  	cursor: pointer;
  	color: #888;
  	font-size: 1.1em;
	}
	